<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>METANOIA</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link type="text/css" href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css')}}"
        rel="stylesheet">
    <link type="text/css"
        href="{{ url_for('static', filename='lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css')}}"
        rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link type="text/css" href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">

    <!--  toastr -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toastr.min.css')}}">

    <!-- icono de Psicoapp -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/logo_pequeño.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/logo_pequeño.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/logo_pequeño.png')}}">
    <link rel="manifest" href="{{ url_for('static', filename='img/site.webmanifest')}}">

    <!-- content delivery network (CDN - Content delivery network): -->
    <!-- Javascript CDN -->
    <script defer type="text/javascript" src="{{ url_for('static', filename='js/script.js')}}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!--ION ICONS-->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    {% block styles %}{% endblock %}
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid py-2 d-none d-lg-block" style="background-color: #2d61e9;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-lg-start mb-2 mb-lg-0">
                    <a href="/"><img src="{{ url_for('static', filename='img/logo_topbar.png')}}" style="width: 200px; height: 40px; padding-right: 10px;" alt=""></a>
                </div>
                <div class="col-md-6 text-center text-lg-end">
                        <a class="text-body px-2" href="https://www.instagram.com/espaciometanoiacl?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">
                            <img src="{{ url_for('static', filename='img/logo_ig.png')}}" alt="" style="width: 40px;">
                        </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    

    <main role="main">
        {% block main %}
        <h2>Página no implementada</h2>
        {% endblock %}
    </main>

    <!-- Footer Start -->
    <div class="container-fluid text-light py-5" style="background-color: #2d61e9;">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col">
                    <img src="{{ url_for('static', filename='img/titulo_navbar.png')}}" alt="">
                </div>
                <div class="col">
                    <h4 class="d-inline-block text-uppercase border-bottom border-5 border-light mb-4" style="color: #faa330;">Espacio Metanoia</h4>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-light mb-2" href="/"><i class="fa fa-angle-right me-2"></i>Inicio</a>
                        <a class="text-light mb-2" href="/sobre-nosotros"><i class="fa fa-angle-right me-2"></i>Sobre nosotros</a>
                        <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Servicios</a>
                        <a class="text-light mb-2" href="https://docs.google.com/forms/d/1s8ArcOjIQOpHszV6xWkms4n16v-iVjomaLy4gKEw13g/viewform?edit_requested=true"><i class="fa fa-angle-right me-2"></i>Haz tu PsicoMatch</a>
                    </div>
                </div>
                <div class="col">
                    <h4 class="d-inline-block text-uppercase border-bottom border-5 border-light mb-4" style="color: #faa330;">Contáctanos</h4>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-light mb-2" href="mailto:contacto@espaciometanoia.cl"><i class="fa fa-angle-right me-2"></i>contacto@espaciometanoia.cl</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-light border-top border-secondary py-4">
        <div class="container">
            <div class="row g-5">
                <div class="col-md-6 text-center text-md-start">
                    <p class="mb-md-0">&copy; <a class="text-primary" href="#">METANOIA</a>. Todos
                        los derechos
                        reservados.</p>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <p class="mb-0">Designed by <a class="text-primary" href="https://www.linkedin.com/in/tom%C3%A1s-heilenk%C3%B6tter-4b5342252/?originalSubdomain=cl">Tomás Heilenkötter</a></p>
                    <a href="https://www.flaticon.com/free-icons/psychologist" title="psychologist icons">Psychologist
                        icons created by Freepik - Flaticon</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>





    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/easing/easing.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js')}}"></script>
    <script type="text/javascript"
        src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/tempusdominus/js/moment.min.js')}}"></script>
    <script type="text/javascript"
        src="{{ url_for('static', filename='lib/tempusdominus/js/moment-timezone.min.js')}}"></script>
    <script type="text/javascript"
        src="{{ url_for('static', filename='lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js')}}"></script>

    <!--  toastr-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/toastr.min.js')}}"></script>

    <!-- Template Javascript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js')}}"></script>



    {% block javascript %}{% endblock %}
</body>

</html>