{% extends 'base.html' %}
{% block home %} active {% endblock %}

{% block styles %} 
<style>
</style>
{% endblock %}

{% block main %}
<div class="container-fluid shadow-sm">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light py-3 py-lg-0">
            <a href="/" class="navbar-brand">
                <h1 class="m-0" style="color: #2d61e9;">¡Bienvenid@!</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% if logged%}
            <form action="/search-therapist" method="post">
                <div class="row px-5 mx-5">
                    <div class="col-10 p-0">
                        <input name="text" type="text" class="form-control m-0" placeholder="Busca un psicólogo">
                    </div>
                    <div class="col-2 p-0">
                        <button class="btn" style="background-color: #2d61e9;"><i class="fa text-light fa-search"></i></button>
                    </div>
                </div>
            </form>
            {%endif%}
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="mb-8">
                </div>
                <div class="navbar-nav ms-auto py-0">
                    {% if logged%}
                    {%if user.type == 0%}
                    <a href="/tprofile/{{user.id}}" class="nav-item nav-link"><ion-icon class="edit-icon-profile" name="person-circle-outline"></ion-icon></a>
                    <a href="/edit-therapist" class="nav-item nav-link"><ion-icon class="edit-icon-profile" name="cog-outline"></ion-icon></a>
                    {%elif user.type == 1%}
                    <a href="/patient-reg" class="nav-item nav-link"><ion-icon class="edit-icon-profile" name="cog-outline"></ion-icon></a>
                    {%endif%}
                    <a href="/messages" class="nav-item nav-link"><ion-icon class="edit-icon-profile" name="mail-unread-outline" ></ion-icon></a>
                    <a href="/logout" class="nav-item nav-link" ><ion-icon class="edit-icon-profile" name="exit-outline"></ion-icon></a>
                    {% else %}
                    <!-- <a href="/register" class="nav-item text-dark nav-link">Registrarse</a> -->
                    <!-- <a href="/login" class="nav-item text-dark nav-link">Iniciar sesión</a> -->
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->

    <!-- Hero Start -->
    <div class="container-fluid hero-header position-relative">
        <div id="carouselExampleSlidesOnly" class="carousel slide texto_carousel position-absolute top-50 start-50 translate-middle" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active rounded" style="background-color: #faa330;">
                    <h2 class="text-center text-light">¿No sabes que psicólogo/a escoger? ¡Haz tu PsicoMatch!</h2>
                </div>
                <div class="carousel-item rounded" style="background-color: #faa330;">
                    <h2 class="text-center text-light">¡Conoce todos nuestros servicios a bajo costo!</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->


    <!-- Servicios Start -->
    <div class="container py-5 px-3 text-center">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <a href="/terapia_adultos">
                    <div class="card" style="height: 370px; box-shadow: 0 3px 10px #C0A8EF;">
                        <div class="card-body">
                            <ion-icon name="person-circle-outline"></ion-icon>
                            <h4 class="card-title mt-4">Terapia Online Individual Adultos y Adultos Jovenes</h4>
                            <br>
                            <p class="card-text text-dark">
                                Terapia individual desde los 18 años. Las sesiones tienen una duración de 45-50 minutos, 
                                y se realiza 1 o 2 veces por semana, según las necesidades del paciente.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="/terapia_infantil">
                    <div class="card" style="height: 370px; box-shadow: 0 3px 10px #C0A8EF;">
                        <div class="card-body">
                            <ion-icon name="extension-puzzle-outline"></ion-icon>
                            <h4 class="card-title mt-4">Terapia Online Individual Niños/as y Adolescentes</h4>
                            <br>
                            <p class="card-text text-dark">
                                Terapia individual para adolescentes de 8 a 17 años. Sesiones de 45-50 minutos donde,
                                mediante juego y arte, se les ayuda a expresarse y abordar sus problemas.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="/diagnostico">
                    <div class="card" style="height: 370px; box-shadow: 0 3px 10px #C0A8EF;">
                        <div class="card-body">
                            <ion-icon name="clipboard-outline"></ion-icon>
                            <h4 class="card-title mt-4">Psicodiagnóstico Presencial</h4>
                            <br>
                            <p class="card-text text-dark">
                                Consta de dos entrevistas clínicas y 1-2 sesiones de evaluación e incluye 
                                informe para el solicitante y retroalimentación para el paciente.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="/terapia_online">
                    <div class="card" style="height: 370px; box-shadow: 0 3px 10px #C0A8EF;">
                        <div class="card-body">
                            <ion-icon name="checkmark-circle-outline"></ion-icon>
                            <h4 class="card-title mt-4">¡Terapia a bajo costo! Conoce nuestros paquetes</h4>
                            <br>
                            <p class="card-text text-dark">
                                Haz clic aquí para descubrir nuestros precios especiales 
                                y aprovechar nuestras ofertas exclusivas.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- Servicios End -->


        <!-- Blog Start -->
        <!-- <div class="container-fluid py-5" >
            <div class="container">
                <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                    <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Blog</h5>
                    <h1 class="display-4">Nuestros  más recientes artículos</h1>
                </div>
                <div class="row g-5">
                    {%for article in articles[:3]%}
                    <div class="col-xl-4 col-lg-6">
                        <div class="bg-light rounded overflow-hidden">
                            <img class="img-fluid w-100" src="{{ url_for('static', filename=article.file_path)}}" alt="foto_articulo" style="height:15rem;">
                            <div class="p-4" style="height: 12rem;">
                                <a class="h3 d-block mb-3" href="/article/{{article.id}}">{{article.title}}</a>
                                <p class="m-0">{{article.subtitle[:60]}}...</p>
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                </div>
            </div>
        </div> -->
        <!-- Blog End -->


    <!-- Quienes somos -->
    <div class="container my-5">
        <div class="col">
            <h1 class="text-center" style="color: #2d61e9;">¿Quiénes somos?</h1>
        </div>
        <br>
        <div class="col text-center">
            <h3 class="text-center text-light rounded" style="background-color: #faa330;">En Espacio Metanoia, nuestra misión es ofrecer un lugar seguro y acogedor donde cada persona pueda encontrar apoyo emocional y crecer en su
                bienestar. Nos dedicamos a brindar atención psicoterapéutica respetuosa, accesible y personalizada, acompañando a cada individuo en su
                camino hacia una vida más plena y saludable."</h3>
        </div>
        <br>
        <div class="col text-center mx-5">
            <h3 class="text-center text-light rounded" style="background-color: #2d61e9;"> Somos el espacio en el que te puedes sentir seguro y libre de prejuicios, somos espacio metanoia.</h3>
        </div>
        <br>
    </div>
    <!-- Hero End -->
{% endblock %}


{%block javascript%}
<script>
    console.log(document.getElementById('scroll-button'))
    $("#scroll-button").click(function() {
        $('html, body').animate({
            scrollTop: $("#section-to-scroll-to").offset().top
        }, 300);
    });
</script>
{%endblock%}