{% extends 'base.html' %}
{% block home %} active {% endblock %}

{% block styles %} 
<style>
</style>
{% endblock %}

{% block main %}
<!-- Navbar End -->

    <!-- Hero Start -->
    <div class="container-fluid hero-header position-relative">
        <div id="carouselExampleSlidesOnly" class="carousel slide texto_carousel position-absolute top-50 start-50 translate-middle" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active rounded" style="background-color: #faa330;">
                    <h2 class="text-center">¿No sabes que psicólogo/a escoger? ¡Haz tu PsicoMatch!</h2>
                </div>
                <div class="carousel-item rounded" style="background-color: #faa330;">
                    <h2 class="text-center">¡Conoce todos nuestros servicios a bajo costo!</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->


    <!-- Servicios Start -->
    <div class="container-fluid py-5 px-3">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <a href="/terapia_adultos"><img src="{{ url_for('static', filename='img/terapia-individual.jpeg')}}" class="card-img-top" alt="..." style="height: 230px; border-radius: 43px;"></a>
                <div class="card-body">
                    <h4 class="text-center rounded text-light" style="background-color: #faa330;">Terapia Online Individual Adultos y Adultos Jovenes</h4>
                </div>
            </div>
            <div class="col">
                <a href="/terapia_infantil"><img src="{{ url_for('static', filename='img/terapia-infantil.jpg')}}" class="card-img-top" alt="..." style="height: 230px; border-radius: 43px;"></a>
                <div class="card-body">
                    <h4 class="text-center rounded text-light" style="background-color: #faa330;">Terapia Online Individual Ñiños/as y Adolescentes</h4>
                </div>
            </div>
            <div class="col">
                <a href="/diagnostico"><img src="{{ url_for('static', filename='img/terapia-individual.jpeg')}}" class="card-img-top" alt="..." style="height: 230px; border-radius: 43px;"></a>
                <div class="card-body">
                    <h4 class="text-center rounded text-light" style="background-color: #faa330;">Psicodiagnostico Presencial</h4>
                </div>
            </div>
            <div class="col">
                <a href="terapia_online"><img src="{{ url_for('static', filename='img/terapia-online.jpg')}}" class="card-img-top" alt="..." style="height: 230px; border-radius: 43px;"></a>
                <div class="card-body">
                    <h4 class="text-center rounded text-light" style="background-color: #faa330;">Terapia Online A Bajo Costo</h4>
                </div>
            </div>
        </div>
    </div>
    <!-- Servicios End -->


        <!-- Blog Start -->
        <!-- <div class="container-fluid py-5" >
            <div class="container">
                <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                    <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Blog</h5>
                    <h1 class="display-4">Nuestros  más recientes artículos</h1>
                </div>
                <div class="row g-5">
                    {%for article in articles[:3]%}
                    <div class="col-xl-4 col-lg-6">
                        <div class="bg-light rounded overflow-hidden">
                            <img class="img-fluid w-100" src="{{ url_for('static', filename=article.file_path)}}" alt="foto_articulo" style="height:15rem;">
                            <div class="p-4" style="height: 12rem;">
                                <a class="h3 d-block mb-3" href="/article/{{article.id}}">{{article.title}}</a>
                                <p class="m-0">{{article.subtitle[:60]}}...</p>
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                </div>
            </div>
        </div> -->
        <!-- Blog End -->


    <!-- Quienes somos -->
    <div class="container-fluid my-5">
        <div class="col">
            <h1 class="text-center" style="color: #2d61e9;">¿Quiénes somos?</h1>
        </div>
        <br>
        <div class="col text-center">
            <h3 class="text-center text-light rounded" style="background-color: #faa330;">En Espacio Metanoia, nuestra misión es ofrecer un lugar seguro y acogedor donde cada persona pueda encontrar apoyo emocional y crecer en su
                bienestar. Nos dedicamos a brindar atención psicoterapéutica respetuosa, accesible y personalizada, acompañando a cada individuo en su
                camino hacia una vida más plena y saludable."</h3>
        </div>
        <br>
        <div class="col text-center mx-5">
            <h3 class="text-center text-light rounded" style="background-color: #2d61e9;"> Somos el espacio en el que te puedes sentir seguro y libre de prejuicios, somos espacio metanoia.</h3>
        </div>
        <br>
    </div>
    <!-- Hero End -->
{% endblock %}


{%block javascript%}
<script>
    console.log(document.getElementById('scroll-button'))
    $("#scroll-button").click(function() {
        $('html, body').animate({
            scrollTop: $("#section-to-scroll-to").offset().top
        }, 300);
    });
</script>
{%endblock%}